body{
    font-family: 'Roboto', sans-serif;
    color: #2E2F42
}

:root {
    --black:#2E2F42;
    --web:#4D5AE5;
    --link:#404BBF ;
    --contacts:#434455 ;
    --button:#FFFFFF ;
    --white:#F4F4FD;
    --advice:#E7E9FC; 
  }

.web{
    color: var(--web);
}


.list{
    list-style: none;
}

.main-page{
    background:  var(--black);
}

.link{
    text-decoration: none;
    
}

.menu{
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
}

.link:hover{
    color: var(--link);
}

.contacts-link{
    color: var(--contacts);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.contacts-link:hover{
    color: var(--web);
}

.button{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
}

.filter-button{
    background-color: var(--web);
    color: var(--button);
    border: 0;
    width: 169px;
    height: 56px;
}

.hero-button{
    background-color: var(--white);
    border: 1px solid var(--advice);
    color: var(--web);
}

.hero-button:hover{
    color: var(--button);
    background-color: var(--link);
    
}

.filter-button:hover{
    background-color: var(--link);
}



.logo{
    font-family: 'Raleway', sans-serif;
    color: var(--web);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.header-logo{
    color: var(--black);
}

.footer-logo{
    color: var(--white);
}

.sab-title{
    color: var(--button);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.title{
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text{
    color: var(--contacts);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.level-3-title{
    color: var(--black);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}


.name{
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advice{
    color: var(--advice);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background: var(--black);
}

.section{
    background: var(--white);
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: 
    nowrap; clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}